# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
env/
venv/
.venv/

# Conda
*.conda/

# macOS
.DS_Store

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Environment variables
.env

# Existing generated data
data/clean_data.csv
data/viral_scores.csv
data/soc_media.csv

# Raw datasets
data/raw/

# Generated processed datasets
data/processed/*.csv
